@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=fallback');

@import 'tailwindcss/base';
@import 'tailwindcss/components';


@import 'tailwindcss/utilities';



:root {

    --color-black: #233447;
    --color-primary: #396bd1;
    --color-blue: #3db3ff;
    --color-green: #18ac41;
    --color-red: #ac1b1b;
    --color-yellow: #ffba00;
    --color-gray: #7e88a2;


    /* Основной цвет */
    --el-color-primary: #385df0;


    /* Цвета для состояний */
    --el-color-success: #18ac41;
    --el-color-warning: #ffba00;
    --el-color-danger: #ac1b1b;
    --el-color-info: #7e88a2;
    --tw-gradient-stops: #ffba00;
    --el-menu-base-level-padding: 8px;
    --el-menu-base-level-padding: 14px;
    --el-menu-item-height: 42px;
    --el-menu-item-font-size: 12px;
    --main-color: #385df0;
    --el-menu-active-color: #385df0;
    --el-menu-hover-bg-color: #b5c7ee;
    --hover-color: #b5c7ee;
    --el-menu-icon-width: 38px;
    --el-border-radius-base: 8px;

}
body {
    background: #fff;
}

.el-menu-item.is-active {
    background-color: var(--hover-color);
}
.el-menu-item {
    margin: 5px 8px;
    border-radius: 8px;
    font-size: 14.5px;
}
.close_header {
    
}
.close_header button {
    position: fixed;
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: 1px solid #dcdfe6;
    border-radius: 50%;
    color: var(--color-gray);
    font-size: 16px;
    cursor: pointer;
    margin-left: -13px;
    z-index: 3 !important;
    margin-top: -10px;
}
.el-menu-item .el-menu-tooltip__trigger {
    padding: 0 5px;
}
.el-menu-item {
    padding: 5px 5px !important;
}
.page_title {
    font-size: 22px;
    font-weight: 600;
    color: var(--color-black);
}
:deep(.el-tabs__content) {
    overflow: visible !important;
}
.card-shadow {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    overflow: hidden;
}
.menu-title {
    font-size: 24px;
    font-weight: 500;
    color: var(--color-primary);
    font-weight: 600;
}